.notification {
  text-align: center;
  p {
    margin-bottom: 15px;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
  }
  button {
    max-width: 300px;
    margin: auto;
    margin-bottom: 15px;
  }
}
