.product {
  padding: 15px 0;
  display: flex;
}

.productTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftCol {
  padding-right: 15px;
}

.productImage {
  max-width: 100%;
  height: auto;
}
