.couponContainer {
  .couponForm {
    display: flex;
  }

  .couponInput {
    width: calc(100% - 100px);
  }

  .couponAddBtn {
    width: 150px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
