@import "@styles/variables.scss";

.filtersIconContainerMobile {
  display: none;
  @media (max-width: $screen-md) {
    display: block;
    background-color: #fff;
    position: fixed;
    top: $headerHeight;
    left: 0;
    width: 100%;
    padding: 5px 15px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
  @media (max-width: $screen-sm) {
    top: $headerHeightSm;
  }
  .filtersIconMobile {
    color: $primaryColor;
    gap: 15px;
  }
}

.filters {
  position: sticky;
  top: 80px;
  height: calc(100vh - 85px);
  @media (max-width: $screen-md) {
    position: fixed;
    left: 0;
    top: $headerHeight;
    width: 100%;
    padding: 15px;
    transform: translateY(-100%);
    background: #fff;
    z-index: 1;
    height: calc(100vh - $headerHeight);
    overflow-y: scroll;
    transition: all 300ms;
    &.active {
      display: block;
      transform: translateY(0);
    }
  }
  @media (max-width: $screen-sm) {
    top: $headerHeightSm;
    height: calc(100vh - $headerHeightSm);
  }
  &.active {
    transform: translateY(0);
  }
  .filter {
    background-color: transparent;
    color: $primaryColor;
    border-radius: 0;
    padding: 8px 16px;
    margin-left: 0 !important;
    @media (max-width: $screen-md) {
      width: max-content;
    }
    &.active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
  .filtersContent {
    position: absolute;
    width: 100%;
    max-height: calc(100% - 110px);
    overflow-y: auto;
    @media (max-width: $screen-md) {
      width: calc(100% - 30px);
    }
  }
  .filtersFooter {
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 88px;
    padding: 15px 0;
    @media (max-width: $screen-md) {
      width: calc(100% - 30px);
    }
  }
  .filtersCloseBtn {
    display: none;
    @media (max-width: $screen-md) {
      display: block;
      position: absolute;
      right: 0;
      top: 15px;
      padding: 0;
      z-index: 2;
    }
  }
}

.filtersTitle {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
  @media (max-width: $screen-md) {
    display: none;
  }
}

.filterTitle {
  padding-bottom: 10px;
}

.filtersGroup {
  gap: 10px;
}

.container {
  margin: 20px 0;
}

.sizesContainer {
  flex-wrap: wrap;
  .filter {
    width: 50px;
  }
}

.priceContainer {
  flex-wrap: wrap;
  .filter {
    max-width: calc(50% - 5px);
  }
}

.subcategories {
  flex-wrap: wrap;
}
