@import "@styles/variables.scss";

.filters {
  .filter {
    background-color: transparent;
    color: $primaryColor;
    border-radius: 0;
    padding: 8px 16px;
    &.active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}

.filterTitle {
  padding-bottom: 10px;
}

.filtersGroup {
  gap: 10px;
}

.container {
  margin: 20px 0;
}

.priceContainer {
  flex-wrap: wrap;
  .filter {
    max-width: max-content;
  }
}

.subcategories {
  flex-wrap: wrap;
}
